name: Checkov Security Scan (Reusable)

on:
  workflow_call:
    inputs:
      working_directory:
        description: 'Working directory'
        required: false
        type: string
        default: '.'
      config_file:
        description: 'Checkov config file path'
        required: false
        type: string
        default: '.checkov.yml'

jobs:
  checkov:
    name: Checkov Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: ${{ inputs.working_directory }}
          config_file: ${{ inputs.config_file }}
          framework: terraform
          output_format: cli
          quiet: true
          compact: true
